.board__container {
  padding: 0 350px;
  min-height: 600px;
}

.board__row-height {
  min-height: 100px;
  width: 100%;
}

.board__row {
  border: 1px dashed $midnight-blue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: none;
}

.board__column-selector {
  border-right: 1px dashed $midnight-blue;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board__column-selector:last-child {
  border: none;
}

.board__column-selector:hover:after {
  position: absolute;
  margin: 0 auto;
  content: "👇";
  font-size: 50px;
}

.board__columns-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  border: 6px solid $peter-river-blue;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.board__column {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: $peter-river-blue;
  border: 6px solid $peter-river-blue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.board__column-row {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: $off-white;
  border: 6px solid $peter-river-blue;
  border-radius: 50%;
  box-shadow: 1px 1px 5px grey inset;
}

.token-1 {
  background-color: $alizarin-red !important;
}

.token-2 {
  background-color: $sun-flower-yellow !important;
}