.header__container {
  margin-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 80px;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}

.header__title {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  font-weight: bold;
  font-size: 50px;
}

.header__title span {
  font-size: 100px;
  color: $peter-river-blue;
}